package ${PackageId}.controller;

import ${PackageId}.application.service.${ResourceSingular}Service;
import ${PackageId}.configuration.aop.annotation.LogExecutionTime;
import ${PackageId}.configuration.aop.annotation.LogMethodInfo;
import ${PackageId}.domain.${ResourceAllSmallCase}.*;

import io.swagger.annotations.Api;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.http.ResponseEntity;
import org.springframework.web.bind.annotation.*;
import org.springframework.data.domain.Page;
import org.springframework.http.HttpHeaders;
import javax.validation.Valid;
import java.util.List;

@RestController
@RequestMapping(value = "/api")
@LogExecutionTime
@LogMethodInfo
@Api(tags ={"${ResourceSingular}"})
public class ${ResourceSingular}Controller {

    private static final Logger logger = LoggerFactory.getLogger(${ResourceSingular}Controller.class);

    @Autowired
    private ${ResourceSingular}Service ${ResourceSmallCase}Service;

    @PostMapping("/${ResourceAPI}/v1")
    public ResponseEntity<?> save${ResourcePlural}(@Valid @RequestBody List<${ResourceSingular}> ${ResourceSmallCase}List) {
        return ResponseEntity.ok(${ResourceSmallCase}Service.save${ResourcePlural}(${ResourceSmallCase}List));
    }

    @GetMapping("/${ResourceAPI}/v1")
    public ResponseEntity<?> getAll${ResourcePlural}() {
        return ResponseEntity.ok(${ResourceSmallCase}Service.getAll${ResourcePlural}());
    }

    @GetMapping("/${ResourceAPI}/v1/{${ResourceSmallCase}Ids}")
    public ResponseEntity<?> get${ResourcePlural}(@PathVariable String[] ${ResourceSmallCase}Ids) {
        return ResponseEntity.ok(${ResourceSmallCase}Service.get${ResourcePlural}(${ResourceSmallCase}Ids));
    }

    @PutMapping("/${ResourceAPI}/v1")
    public ResponseEntity<?> update${ResourcePlural}(@Valid @RequestBody List<${ResourceSingular}> ${ResourceSmallCase}List) {
        return ResponseEntity.ok(${ResourceSmallCase}Service.update${ResourcePlural}(${ResourceSmallCase}List));
    }

    @DeleteMapping("/${ResourceAPI}/v1/{${ResourceSmallCase}Ids}")
    public ResponseEntity<?> delete${ResourcePlural}(@PathVariable String[] ${ResourceSmallCase}Ids) {
        return ResponseEntity.ok(${ResourceSmallCase}Service.delete${ResourcePlural}(${ResourceSmallCase}Ids));
    }


    @GetMapping("/${ResourceAPI}/pageable/v1")
    public ResponseEntity<?> getAll${ResourcePlural}PageAble(@RequestParam(value = "pageIndex")
                                                                     Integer pageIndex,
                                                             @RequestParam(value = "pageSize")
                                                                     Integer pageSize,
                                                             @RequestParam(value = "sortOrder", required = false)
                                                                     String direction,
                                                             @RequestParam(value = "sortBy", required = false)
                                                                     String[] fields) {
            Page page = ${ResourceSmallCase}Service.getAll${ResourcePlural}PageAble(
                    pageIndex, pageSize, direction, fields);
            HttpHeaders responseHeaders = new HttpHeaders();
            responseHeaders.add("TotalPageSize", String.valueOf(page.getTotalPages()));
            responseHeaders.add("TotalElements", String.valueOf(page.getTotalElements()));
            responseHeaders.add("IsFirst", String.valueOf(page.isFirst()));
            responseHeaders.add("IsLast", String.valueOf(page.isLast()));
            return ResponseEntity.ok().headers(responseHeaders).body(page.get());
        }

 #foreach ($subDomain in  ${SubDomainList})
    #set( $subDomainName = ${AttributeHelper.getSubDomainName($subDomain)} )
    #set( $subDomainResourceName  = ${AttributeHelper.getResourceNameSubDomainSingular($subDomainName)})

    @PostMapping("/${ResourceAPI}/v1/{${ResourceSmallCase}Id}/$subDomainResourceName")
    public ResponseEntity<?> save${ResourceSingular}$subDomainName(@PathVariable String ${ResourceSmallCase}Id,
                                                    @Valid @RequestBody $subDomainName $subDomainResourceName) {
        return ResponseEntity.ok(${ResourceSmallCase}Service.save${ResourceSingular}$subDomainName
                     (${ResourceSmallCase}Id,$subDomainResourceName));
    }

     @PutMapping("/${ResourceAPI}/v1/{${ResourceSmallCase}Id}/$subDomainResourceName")
     public ResponseEntity<?> update${ResourceSingular}$subDomainName(@PathVariable String ${ResourceSmallCase}Id,
                                                        @Valid @RequestBody $subDomainName $subDomainResourceName) {
            return ResponseEntity.ok(${ResourceSmallCase}Service.update${ResourceSingular}$subDomainName
                         (${ResourceSmallCase}Id,$subDomainResourceName));
     }

     @DeleteMapping("/${ResourceAPI}/v1/{${ResourceSmallCase}Id}/$subDomainResourceName/{${subDomainResourceName}Id}")
     public ResponseEntity<?> delete${ResourceSingular}$subDomainName(@PathVariable String ${ResourceSmallCase}Id,
                                                       @PathVariable String ${subDomainResourceName}Id) {
           return ResponseEntity.ok(${ResourceSmallCase}Service.delete${ResourceSingular}$subDomainName
                        (${ResourceSmallCase}Id,${subDomainResourceName}Id));
     }

 #end

}
