package ${PackageId}.domain.${ResourceAllSmallCase}.repository;

import ${PackageId}.domain.${ResourceAllSmallCase}.*;
import java.util.Optional;
import org.springframework.data.mongodb.repository.MongoRepository;

public interface ${ResourceSingular}Repository extends MongoRepository<${ResourceSingular}, String> {


#foreach ($subDomain in  ${SubDomainList})
    #set( $subDomainResourceName  = ${AttributeHelper.getResourceNameSubDomainGetter($subDomain)})

    Optional<${ResourceSingular}> findBy_idAnd${subDomainResourceName}__id(String ${ResourceSmallCase}Id, String ${subDomainResourceName}Id);

#end


}
